/*圣杯响应式布局参考https://hufan-akari.github.io/solved-by-flexbox/demos/holy-grail/*/
.f {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.f-header {
  overflow: hidden;
  flex: none; /* 2 */
  background-image: url("http://od7uqdaje.bkt.clouddn.com/bg2.jpg");
}
.f-footer {
  flex: none; /* 2 */
  display:flex;
  justify-content: center;
  background-color: rgba(218, 213, 203, 0.32);
  font-size: 14px;
  padding:10px 0; 

}

.f-container {
  display: flex;
  flex: 1 0 auto; /* 2 */
  flex-direction: column;
  padding: 5px;
}

.f-nav {
  order: -1;
}

.f-nav,
.f-tags {
  position: relative;
  flex: 0 0 24em;
  margin: 2em 0;
}
.f-content {
    flex: 1;
    margin: 2em 0;
    display: flex;
    justify-content: center;
 }
@media (min-width:768px) {
  .f-container {
    flex-direction: row;
  }
}

.f-tags .social{ 
   text-align: center;
   top: 20px;
  position: relative;
}
.f-tags .social a{ 
  border-radius: 50%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  text-indent: -9999px;
  margin: 0 8px 15px 8px;
  opacity: 0.7;
  width: 28px;
  height: 28px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.f-tags .social a.github {
    background: url(../images/github.png) center no-repeat #afb6ca;
    border: 1px solid #afb6ca;
}
.f-tags .social a.github:hover {
   border: 1px solid #909ab6;
}
.f-tags .social a.weibo {
    background: url(../images/weibo.png) center no-repeat #aaf;
    border: 1px solid #aaf;
}
.f-tags .social a.weibo:hover {
   border: 1px solid #8e92d8;
}
.f-tags .social a.mail {
    background: url(../images/mail.png) center no-repeat #005a87;
    border: 1px solid #005a87;
}
.f-tags .social a.mail:hover {
    border: 1px solid #006b98;
}
/*头部*/
#canvas-container{
   height:600px;
   width: 100%;
}
canvas {
   height:600px;
   width: 100%;
  cursor: crosshair;
  display: block;
  position: relative;
  z-index: 3;
}
canvas:active {
  cursor: crosshair;
}
/*侧边栏*/
input#show-menu {
    position: absolute;
    opacity: 0;
}
.hamburguer {
    left: 0;
    width: 72px;
    height: 60px;
    bottom:0px;
    display: block;
    position: relative;
    cursor: pointer;
}

.hamburguer span {
    display: block;
    position: absolute;
    height: 4px;
    width: 24px;
    background: #000000;
    opacity: 1;
    left: 24px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.hamburguer span:nth-child(1) {
    top: 20px;
}

.hamburguer span:nth-child(2), .hamburguer span:nth-child(3) {
    top: 28px;
}

.hamburguer span:nth-child(4) {
    top: 36px;
}
input#show-menu:checked ~ .hamburguer span:nth-child(1), input#show-menu:checked ~  .hamburguer span:nth-child(4) {
    top: 28px;
    width: 0;
    left: 50%;
}

input#show-menu:checked ~   .hamburguer span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

input#show-menu:checked ~   .hamburguer span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#nav {
    left: 0;
    height:auto;
    width: 100%;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
#nav .menu {
    position: relative;
    height: 100%;
}
.f-nav .me{
  position: absolute;
  left: 150px;
  cursor: pointer;
  top:80px;
  width: 80px;
  height: 80px;
  background-image: url("../images/me.jpg");
  background-size:cover;
  border-radius: 50%;
  opacity: 1;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: opacity;
}
.f-nav .me::after{
  content:'学习使我快乐 。。。';
  position: absolute;
  left: -10px;
  width:115px;
  top: 100px;
  font-size: 12px;
  font-style:oblique
}

#nav a {
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 14px 24px;
    font-weight: 700;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: background-color;
    
}
#nav a:hover{
  background-color: rgba(218, 213, 203, 0.32);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: background-color;
}

input#show-menu:checked ~ #nav {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
input#show-menu:checked ~ .me {
    opacity: 0;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: opacity;
}
